
*.pyc
pycache/
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/


*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py


.vscode/


.DS_Store
Thumbs.db

.env


/migrations/.pyc
/migrations/.pyo
*/migrations/pycache/
/migrations/.sqlite3
/migrations/.log

node_modules/